.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $primary-color;
  
  a:link {
    color: $secondary-color;
    text-decoration: underline;
  }
  a:visited {
    color: $secondary-color;
    text-decoration: underline;
  }

  a:hover {
    color: $secondary-color;
    text-decoration: underline;
  }

  > * {
    padding-left: 30px;
  }

  p {
    width: 55%;
    min-width: 550px;
    font-size: 1.5rem;
  }

  ul {
    font-size: 1.5rem;
    list-style-type: square;
    padding-left: 45px;
    vertical-align: top;
  }

  img, video {
    height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }
}
